---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: to-do-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: to-do-api
  template:
    metadata:
      labels:
        app: to-do-api
    spec:
      containers:
        - image: to-do-api
          name: to-do-api
          imagePullPolicy: Always
          env:
            - name: DB_HOST
              value: db-svc
            - name: DB_PORT
              value: "5432"
            - name: DB_USER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret-config
                  key: POSTGRES_PASSWORD
                  optional: false
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret-config
                  key: POSTGRES_USER
                  optional: false
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret-config
                  key: POSTGRES_DB
                  optional: false

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: to-do-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: to-do-web
  template:
    metadata:
      labels:
        app: to-do-web
    spec:
      volumes:
        - name: shared-image
          persistentVolumeClaim:
            claimName: image-claim
      containers:
        - image: to-do-web
          imagePullPolicy: Always
          name: to-do-web
          volumeMounts:
            - name: shared-image
              mountPath: /usr/src/app/local_files/images
          env:
            - name: UPLOAD_LOCATION
              value: "/usr/src/app/local_files/images/to-do-today.jpg"
            - name: TODO_API_URI
              value: "http://to-do-api-svc:2345/api/todos"
