---
apiVersion: v1 # Includes the Service for lazyness
kind: Service
metadata:
  name: db-svc
  labels:
    app: postgres
spec:
  ports:
    - port: 5432
      name: web
  clusterIP: None
  selector:
    app: postgres-app

---
apiVersion: v1
kind: Service
metadata:
  name: to-do-api-svc
spec:
  type: NodePort
  selector:
    app: to-do-api # This is the app as declared in the deployment.
  ports: # The following will let TCP traffic from port 2345 to port 8080.
    - port: 2345
      protocol: TCP
      targetPort: 8080
      name: http

---
apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: web-svc-backend-conf
spec:
  healthCheck:
    checkIntervalSec: 60
    timeoutSec: 3
    type: HTTP
    requestPath: /todo/test.xhtml
    port: 2345

---
apiVersion: v1
kind: Service
metadata:
  name: to-do-web-svc
  annotations:
    cloud.google.com/backend-config: '{"ports": {"2345":"web-svc-backend-conf"}}'
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: NodePort
  selector:
    app: to-do-web # This is the app as declared in the deployment.
  ports: # The following will let TCP traffic from port 2345 to port 8080.
    - port: 2345
      protocol: TCP
      targetPort: 8080
      name: http