name: Release application

on:
  push:

jobs:
  build-publish-deploy:
    name: Build, Publish and Deploy
    runs-on: ubuntu-latest

    steps:

      - name: Decrypt secret
        run: |-
          curl -O -L -C - https://github.com/mozilla/sops/releases/download/v3.7.3/sops-v3.7.3.linux
          sudo mv sops-v3.7.3.linux /usr/bin/sops
          sudo chmod +x /usr/bin/sops
          SOPS_AGE_KEY=${{ secrets.GKE_DWK_SOPS_AGE_KEY }}
          ls
          sops --decrypt manifests/secret.enc.yaml --output manifests/secret.yaml
env:
  PROJECT_ID: ${{ secrets.GKE_DWK_PROJECT }}
  GKE_CLUSTER: dwk-cluster
  GKE_ZONE: europe-north1-b
  TODO_API_IMAGE: to-do-api
  TODO_WEB_IMAGE: to-do-web
  TODO_DB_IMAGE: to-do-db
  TODO_DAILY_IMAGE: to-do-daily

